# dependencies
node_modules/

# next
.next/
out/
build/

# env (nunca commitear secretos)
.env
.env.*
!.env.example

# supabase local
.branches/
.temp/

# vercel
.vercel

# editor / OS
.DS_Store
Thumbs.db
*.log
